 <h1 class="center">予定を入力してください</h1>

  <%= form_with(model: @motion, local: true) do |form| %>
  <%= render 'shared/error_messages', model: form.object %>
    <div class="weight-box center">
    <h2 class="">現在の体重を入力してください</h2>
    <%= form.number_field :weight, step: '0.1', min: "30",placeholder: "55", class:"save-width1 center"%><em>kg</em>
    </div>
    <div class="contents">
 <div class="container">
    <h2 class="center">予定・行う時間を入力してください</h2>
    <div class="plan-box">
    <h2>1項目</h2>
    <%= form.text_field :plans1, placeholder: "予定",class:"save-width2"%>
    <%= form.time_field :count1, class:"save-width2" %>
    </div>
    <div class="plan-box">
     <h2>2項目</h2>
    <%= form.text_field :plans2, placeholder: "予定",class:"save-width2" %>
    <%= form.time_field :count2, class:"save-width2" %>
    </div>
    <div class="plan-box">
      <h2>3項目</h2>
    <%= form.text_field :plans3, placeholder: "予定",class:"save-width2"%>
    <%= form.time_field :count3, class:"save-width2" %>
    </div>
    <div class="plan-box">
      <h2>4項目</h2>
    <%= form.text_field :plans4, placeholder: "予定",class:"save-width2" %>
    <%= form.time_field :count4, class:"save-width2" %>
    </div>
    <div class="plan-box">
      <h2>5項目</h2>
    <%= form.text_field :plans5, placeholder: "予定",class:"save-width2" %>
    <%= form.time_field :count5, class:"save-width2" %>
    </div>
    </div>
    <div class="memo-box">
    <h2 class="center memo-text">今日のメモを残せます</h2>
    <%= form.text_area :memo, placeholder: "任意で記入できます",class:"save-width3"%>
    </div>
    </div>
    <span><%= form.submit "決定", class:"create-btn btn--white btn--cubic"%></span>
  <% end %>
  </div>
</div>