<div class="wrapper">
<div class="training today">
  <h2 class="training text">本日のトレーニング項目です</h2>
</div>
<div class="contents row">
  <%= @motion.training1  %>
  <%= @motion.count1  %> 
  <%= @motion.training2  %>
  <%= @motion.count2  %> 
  <%= @motion.training3  %>
  <%= @motion.count3  %> 
  <%= @motion.training4  %>
  <%= @motion.count4  %> 
  <%= @motion.training5  %>
  <%= @motion.count5  %>  
</div>
</div>