<main>
<%if user_signed_in? %>
<% if  @motion != nil && current_user.motion != [] %>
<%if current_user.motion.last.created_at.strftime("%Y%m%d")  == @now.strftime("%Y%m%d")  %>
<h1 class="center">本日の予定</h1>
<div class="wrapper">
<div class="plans-left">
<h2 class="center"><%= current_user.nickname%>さんの今日の予定</h2>
  <div class="plan" data-id=<%= current_user.motion.last.id %> data-check=<%= current_user.motion.last.checked %>>
<% if current_user.motion.last.plans1.present?%>
  <%= current_user.motion.last.plans1 %>
  <%= current_user.motion.last.count1.strftime('%H:%M') %>
  </div>
<% end %> 
<% if current_user.motion.last.plans2.present?%>
  <div class="plan" data-id=<%= current_user.motion.last.id %> data-check=<%= current_user.motion.last.checked %>>
  <%= current_user.motion.last.plans2 %>
  <%= current_user.motion.last.count2.strftime('%H:%M')  %>
  </div> 
<% end%>
<% if current_user.motion.last.plans3.present?%>
  <div class="plan" data-id=<%= current_user.motion.last.id %> data-check=<%= current_user.motion.last.checked %>>
  <%= current_user.motion.last.plans3  %>
  <%= current_user.motion.last.count3.strftime('%H:%M')  %>
  </div>
<% end %>
<% if current_user.motion.last.plans4.present?%>
  <div class="plan" data-id=<%= current_user.motion.last.id %> data-check=<%= current_user.motion.last.checked %>>
  <%= current_user.motion.last.plans4  %>
  <%= current_user.motion.last.count4.strftime('%H:%M')%> 
  </div>
<% end %>
 <% if current_user.motion.last.plans5.present?%> 
  <div class="plan" data-id=<%= current_user.motion.last.id %> data-check=<%= current_user.motion.last.checked %>>
  <%= current_user.motion.last.plans5  %>
  <%= current_user.motion.last.count5.strftime('%H:%M')  %>  
  </div>
<% end %>
<h2 class="center">メモ<h2>
<div class="memo">
<%= current_user.motion.last.memo%>
</div>
</div>
<div class="weight-right">
  <div class="whight">
  <div class="center">
  <div class="font weight">
  <h3><%=current_user.nickname%>さんの現在の体重</h3>
  <%= current_user.motion.last.weight %>kgです
  </div>
  <div class="font bmidifference">
  <h3>現在の<%=current_user.nickname%>さんのBMIは<%= @bmi.round(2)%>
  <%if @bmi <= 25.00 && @bmi >= 18.50 %>
   <h3>標準です！！この体重を維持しましょう！！</h3>
   <h3>(※BMIを基準にしています)</h3>
  <% elsif @bmi <= 25.00%>
      <h3>痩せ気味です  標準まで<%= @bmidifference.round(2) %>増やしましょう!!</h3>

  <% else %>
   <h3>肥満気味です  標準まで<%= @bmidifference.round(2) %>減らしましょう!!</h3>
  <% end%>
  <h3>BMIチエック 肥満度 標準体重の目安<h3>
   </div>
  </div>
  <table class="border bmi">
    <tbody>
    <tr>
      <th>BMI</th>
      <th>肥満度判定(目安)</th>
    </tr>
    <tr>
      <td>18.5未満</td>
      <td>低体重 (やせ)</td>
    </tr>
    <tr>
      <td>18.5~25未満</td>
      <td>普通体重</td>
    </tr>
    <tr>
      <td>25~30未満</td>
      <td>肥満 (1度)</td>
    </tr>
    <tr>
      <td>30~35未満</td>
      <td>肥満 (2度)</td>
    </tr>
    <tr>
      <td>35~40未満</td>
      <td>肥満 (3度)</td>
    </tr>
    <tr>
      <td>40以上</td>
      <td>肥満 (4度)</td>
    </tr>
    </tbody>
  </table>
   <div class="center">
 <%= link_to "編集", edit_motion_path(@motion.id),class:"btn--white btn"%>
 <%= link_to "削除", motion_path(@motion.id), method: :delete, class:"btn--white btn" %>
 </div>
 <% end %>
</div>
</div>
</div>
</div>
<% else%>
<div class="plan-btn btn btn--white btn--cubic">
<h2><%= link_to '今日の予定を設定する', new_motion_path, class: "the-goal"%><h2>
</div>
<% end%>


<div class="main-chart">
<h2 class="chart center">過去の体重の履歴</h2>
<%= line_chart current_user.motion.group_by_day(:created_at).sum(:weight) %>
</div>
</div class="plan-show">
<% current_user.motion.each_with_index do |motion, index|%>
<div class="btn">
<li><%= link_to index, motion_path(motion.id), class: "show btn"%></li> 
</div>
</div>
<% end %>
</div>
<% end %>
</main>




 

