<div class="container">
<h1 class="text-center mt-5">予定を入力してください</h1>

  <%= form_with(model: @motion, local: true) do |form| %>
  <%= render 'shared/error_messages', model: form.object %>
    <div class="text-center  mx-auto mt-3">
    <h2 class="text-center">現在の体重を入力してください</h2>
    <%= form.number_field :weight, step: '0.1', min: "30",placeholder: "55", class:"text-center h1"%><em>kg</em>
    </div>

    <div class="d-flex align-content-center flex-wrap ">
      <div class="border flex-fill m-2 p-4 ">
        <h2 class="text-center">予定・行う時間を入力してください</h2>
        <div class="text-center row mx-auto">
        <h2>1項目</h2>
        <%= form.text_field :plans1, placeholder: "予定",class:" text-center h1 col-sm-7 "%>
        <%= form.time_field :count1, class:"text-center h1 col-sm-5 "%>
        </div>

        <div class="text-center row mx-auto">
        <h2>2項目</h2>
        <%= form.text_field :plans2, placeholder: "予定",class:"text-center h1 col-sm-7" %>
        <%= form.time_field :count2, class:"text-center h1 col-sm-5 " %>
        </div>

        <div class="text-center row mx-auto">
          <h2>3項目</h2>
        <%= form.text_field :plans3, placeholder: "予定",class:"text-center h1 col-sm-7"%>
        <%= form.time_field :count3, class:"text-center h1 col-sm-5 " %>
        </div>

        <div class="text-center row mx-auto">
          <h2>4項目</h2>
        <%= form.text_field :plans4, placeholder: "予定",class:"text-center h1 col-sm-7" %>
        <%= form.time_field :count4, class:"text-center h1 col-sm-5 " %>
        </div>

        <div class="text-center row mx-auto">
          <h2>5項目</h2>
        <%= form.text_field :plans5, placeholder: "予定",class:"text-center h1 col-sm-7" %>
        <%= form.time_field :count5, class:"text-center h1 col-sm-5 " %>
        </div>  
      </div>
      
        <div class="text-center flex-fill m-2 py-4 border ">
        <h2 class="text-center pb-4">今日のメモを残せます</h2>
        <%= form.text_area :memo, placeholder: "任意で記入できます",class:"w-75 h-50  h1"%>
        </div>
  
    </div>
    <div class="text-center p-3  mx-auto">
    <span><%= form.submit "決定", class:"d-block mx-auto p-3 w-50 mu-auto"%></span>
    </div>
  <% end %>
</div>