<main>
<div class="container border py-5 fs-2 mx-auto", style="line-height:2rem">
<h1 class="mb-5 offset-lg-4">ログイン</h1>

<%= form_with model: @user,url: user_session_path, local: true do |f| %>
   <div class='offset-lg-4'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
  <div class="offset-lg-4 my-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"py-2" %>
  </div>

  <div class="offset-lg-4 my-3">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password",class:"py-2" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="offset-lg-4 my-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="offset-lg-4 my-3">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
<div class="offset-lg-4">
<%= render "devise/shared/links" %>
</div>
</div>
</main>