<!DOCTYPE html>
<html>
  <head>
    <title>ManagementApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  
  <div class="container">
      <div class="d-flex justify-content-between my-4 border-bottom" >
      <h1><%= link_to "Management", "/",style: "text-decoration: none;"%></h1>

      <% if user_signed_in?%>
    
  

       <ul class="nav fs-4">
      <li class="nav-item"><%= link_to "カレンダー", meetings_path, class: "nav-link"%></li> 
      <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link"%></li>

      </ul>
       
      <% else %>
    

        <ul class="nav">
      <li class="nav-item"><%= link_to 'ログイン',  new_user_session_path, class: "nav-link"%></li>
      <li class="nav-item"><%= link_to '新規登録',  new_user_registration_path, class: "nav-link" %></li>

      </ul>
    
      <% end %>
   </div>
    </header>
    <%= yield %>
    <footer>
    <div class="container">
      <p>
        Copyright ManagementApp 2021.
      </p>
    </div>
    </footer>
     
  </body>
</html>
